<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Template</title>
        <meta charset="UTF-8">
        <!--BootStrap设计的页面支持响应式的 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!--引入BootStrap的CSS-->
        <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" />
        <!--引入通用css-->
        <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet" />
        <!--引入BootStrap的CSS-->
        <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" />
        <!--引入JQuery的JS文件：JQuery的JS文件要在BootStrap的js的文件的前面引入-->
        <script type="text/javascript" th:src="@{/js/jquery-2.1.0.min.js}"></script>
        <!--validate校验库-->
        <script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
        <!--引入BootStrap的JS的文件-->
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </head>

    <body th:background="@{/img/login-bg.jpg}" style="background-position:center; background-repeat:repeat-y"
        onload="onloadFunction('${forgetPassErrorInfo}')">

        <!-- 忘记密码模态框 -->
        <div id="forgetPassword" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
            
                    <!--header-->
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeInputloginName()"><span aria-hidden="true">×</span></button>
                        <h1 class="text-center text-primary">忘记密码</h1>
                    </div>
            
                    <!--body-->
                    <div class="modal-body">
                        <form id="forgetPassForm" action="${pageContext.request.contextPath}/forgetPassword" class="form col-sm-12 col-md-12 col-lg-12 center-block" method="post">
                            <div class="form-group">
                                <input name="loginName" type="text" class="form-control input-lg" placeholder="请输入用户名">
                            </div>
                            <div class="form-group">
                                <span style="color:red;">${forgetPassErrorInfo}</span>
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="提交">
                            </div>
                        </form>
                    </div>
            
                    <!--footer-->
                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>
            
        <!-- 模态框（Modal） -->
        <div id="loginModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
            
                    <!--header-->
                    <div class="modal-header">
                        <h1 class="text-center text-primary">登录</h1>
                    </div>
            
                    <!--body-->
                    <div class="modal-body">
                        <form id="loginForm" action="" class="form col-sm-12 col-md-12 col-lg-12 center-block" method="post">
                            <div class="form-group">
                                <input id="loginName" name="loginName" type="text" class="form-control input-lg" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" type="password" class="form-control input-lg" placeholder="密码">
                            </div>
                            <div class="form-group">
                                <span style="color:red;"><!-- ${errorInfo}--></span>
                                <input type="button" class="btn btn-primary btn-lg btn-block" onclick="login()" value="登录">
                                <span><a href="#" onclick="showInputloginName()">忘记密码？</a></span>
                            </div>
                        </form>
                    </div>
            
                    <!--footer-->
                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>
    </body>
    
    <script type="text/javascript">
        function onloadFunction(error) {
            $('#loginModal').modal({backdrop: 'static', keyboard: true});
            $('#forgetPassword').modal({backdrop: 'static', keyboard: true});
            if (error == "") {
                $('#loginModal').modal();
            } else {
                $('#forgetPassword').modal();
            }
        }
        function showInputloginName() {
            $('#loginModal').modal("hide");
            $('#forgetPassword').modal();
        }
        function closeInputloginName() {
            $('#forgetPassword').modal("hide");
            $('#loginModal').modal();
        }

        //数据校验
        $(function(){
            $("#forgetPassForm").validate({
                debug: true,  
                focusInvalid: false,
                submitHandler: function(form){
                    form.submit();
                },
                rules:{
                    loginName:{
                        required:true
                    }
                },
                messages:{
                    loginName:{
                        required:"用户名不能为空"
                    }
                },
                errorElement: 'span'
            });
            $("#loginForm").validate({
                debug: true,  
                focusInvalid: false,
                submitHandler: function(form){
                    form.submit();
                },
                rules:{
                    loginName:{
                        required:true
                    },
                    password:{
                        required:true
                    }
                },
                messages:{
                    loginName:{
                        required:"用户名不能为空"
                    },
                    password:{
                        required:"密码不能为空"
                    }
                },
                errorElement: 'span'
            });
        })
        
        function login() {
            var loginName = $("#loginName").val();
            var password = $("#password").val();
        	$.ajax({
                type:"post",
                data:JSON.stringify({"loginName":loginName,"password":password}),
                dataType:"json",  
                contentType:"application/json;charset=utf-8",
                url: "http://localhost:8090/admin/doLogin",
                success:function(result) {
                	//alert(result.message)
                    window.location.href = "http://localhost:8090/admin/index";
                }
            });
        }
    </script>
</html>