<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.management.mapper.project.ProjectCatalogMapper" >

	<resultMap id="catalogMap" type="cn.management.domain.project.ProjectCatalog">
		<id column="id" property="id"></id>
        <result column="name" property="name"></result>
		<result column="file_type" property="fileType"></result>
        <result column="file_size" property="fileSize"></result>
		<result column="file_path" property="filePath"></result>
		<result column="parent_id" property="parentId"></result>
		<result column="create_by" property="createBy"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="del_flag" property="delFlag"></result>
		<collection property="catalogGroups" ofType="cn.management.domain.project.ProjectCatalogGroup">
            <result column="catalog_id" property="catalogId"></result>
            <result column="group_id" property="groupId"></result>
            <result column="create_time" property="createTime"></result>
            <result column="update_time" property="updateTime"></result>
            <result column="del_flag" property="delFlag"></result>
        </collection>
	</resultMap>

	  <sql id="baseClounm">
		t1.id, name, file_type, file_size, file_path, parent_id, create_by, t1.create_time, t1.update_time, t1.del_flag
	  </sql>

    <sql id="allClounm">
        t1.id, name, file_type, file_size, file_path, parent_id, create_by, t1.create_time, t1.update_time, t1.del_flag
        catalog_id, group_id, t2.create_time, t2.update_time, t2.del_flag
    </sql>

    <select id="getCatalogsByIds" resultType="cn.management.domain.project.ProjectCatalog">
        SELECT <include refid="baseClounm" />
        FROM project_catalog t1
          LEFT JOIN project_catalog_group t3 ON t1.id = t3.catalog_id
          LEFT JOIN project_group_user t2 ON t2.group_id = t3.group_id
        WHERE t1.del_flag = 1
          AND (t2.user_id = #{loginId} OR t1.create_by = #{loginId})
          <if test="parentId == null">
              AND t1.parent_id IS NULL
          </if>
          <if test="parentId != null">
              AND t1.parent_id = #{parentId}
          </if>
        GROUP BY t1.id
        ORDER BY t1.id DESC
    </select>

    <select id="getByLoginIdAndCId" resultType="cn.management.domain.project.ProjectCatalog">
        SELECT <include refid="baseClounm" />
        FROM project_catalog t1
            LEFT JOIN project_catalog_group t3 ON t1.id = t3.catalog_id
            LEFT JOIN project_group_user t2 ON t2.group_id = t3.group_id
        WHERE t1.del_flag = 1
            AND (t2.user_id = #{loginId} OR t1.create_by = #{loginId})
            AND t1.id = #{catalogId}
        GROUP BY t1.id
        ORDER BY t1.id DESC
    </select>

    <select id="getById" parameterType="int" resultMap="catalogMap">
        SELECT <include refid="allClounm" />
        FROM project_catalog t1, project_catalog_group t2
        WHERE t1.id = t2.catalog_id
          AND t1.id = #{catalog_id}
          AND t1.del_flag = 1
        GROUP BY t1.id
    </select>

</mapper>